<div>
    <h2 id="alert">Alerts</h2>

    <div class="alert success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div class="alert warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div class="alert info" role="alert">
        A simple info alert—check it out!
    </div>
    <div class="alert light" role="alert">
        A simple light alert—check it out!
    </div>
    <div class="alert dark" role="alert">
        A simple dark alert—check it out!
    </div>

</div>